<div class="container-fluid">
    <h1>Estimate Select</h1>
    <h4>Step 2 of 3</h4>
    <hr/>
    <p>Select Estimate Line Item for Update</p>
    <div class="row">
        <div class="col-md-12">
            <div class="navbar-form navbar-right" role="search">
                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-search"></span></span>
                    <input type="text" class="form-control" ng-model="estimateCtrl.estimateLineItems" placeholder="Search" aria-describedby="sizing-addon2">
                </div>
            </div>
            <div class="navbar-form navbar-right">
                <div class="form-group">
                    <button type="button" class="btn btn-primary" ui-sref="main.estimateLineItems">Add New Items</button>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <!-- <pre>{{estimateCtrl.estimatesSelected | json}}</pre> -->
    <!-- <pre>{{estimateCtrl.customer.estimate| json}}</pre> -->
    <!-- <pre>{{estimateCtrl.customer.estimate.estimateLineItems | json}}</pre> -->
    <!-- Estimate Detail Table from Database -->
    <!-- Table is based on QuickBooks Estimate Screenshots -->
    <div class="container-fluid">
        <div class="mainBox panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Estimates</div>
                <div class="link" ui-sref="main.customerSelect"><a>Back</a></div>
            </div>
            <div class="panel-body">
                <!-- Test to see if data is being passed from one state to the next -->
                <!-- <p class="well">Test to see if data is being passed from one state to the next {{estimateCtrl.customer}}</p>-->
                <!-- Customer Table -->
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-condensed table-xs">
                        <tr>
                            <th>Poduct</th>
                            <th>Description</th>
                            <th>Qty</th>
                            <th>Rate</th>
                            <th>Amount</th>
                            <th>Tax</th>
                            <th>Date</th>
                        </tr>
                        <tr ng-repeat="item in estimateCtrl.customer.estimate | filter: estimateCtrl.estimateLineItems">
                            <td class="anchor"><a ui-sref="main.estimateLineItems">{{item.estimateLineItems}}</a></td>
                            <td></td>
                            <!-- <td>{{item.estimateLineItems.estimateLineItemId}}</td> -->
                            <td></td>
                            <td></td>
                            <!--  <td>{{estimate.estimateStatus}}</td> -->
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div align="right">
                    <p>Subtotal: $xx.xx
                        <br/>Tax: $xx.xx
                        <br/>Estimate Total: $xx.xx
                    </p>
                </div>
            </div>
        </div>
    </div>
